# Hostname or IP address (Default: localhost)
# HOST=

# HTTP port (Default: 80)
# HTTP_PORT=

# HTTPS port (Default: 443)
# HTTPS_PORT=

# Log file name (Default: access.log)
# LOG_FILE=

# Username for auth (Default: admin)
# USERNAME=

# Password for auth (Default: password)
# PASSWORD=
